# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/
ENV/
.ENV/

# Environment variables
.env

# Streamlit cache
.streamlit/

# Jupyter / IPython
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

# Logs
*.log